@import '../style/common.scss';

.component-transition-fade {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-enter-active {
    animation: $animation-duration-base fade-in both
      $animation-timing-function-enter;
  }

  .fade-exit-active {
    animation: $animation-duration-base fade-out both
      $animation-timing-function-leave;
  }
}
